<div class="panel-body">

  <div class="col-md-12 pl0 pr0 mt10">
    <div class="ibox ibox2 float-e-margins">
      <div class="ibox-title">
        <h5>Patient Referral <span><div class="colour-box red-clr-box"></div>Pending Referral Request</span></h5>
        <div class="ibox-tools">
          <a class="label label-success pull-right">
            <i class="fa fa-plus"></i> New Referral
          </a>

          <a class="label label-primary pull-right">
            <i class="fa fa-refresh"></i> Refresh
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Date</th>
                <th>Referred To</th>
                <th>Provider</th>
                <th>Location</th>
                <th>Consult Type</th>
                <th>Status</th>
                <th>Notes</th>
                <th>Diagnosis/Comments</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>20-10-2017</td>
                <td>Mr. James</td>
                <td>test provider</td>
                <td>new Jercy</td>
                <td>First Vsisit</td>
                <td>AMT</td>
                <td>DOS From</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</td>

              </tr>
              <tr>
                <td>20-10-2017</td>
                <td>Mr. James</td>
                <td>test provider</td>
                <td>new Jercy</td>
                <td>First Vsisit</td>
                <td>AMT</td>
                <td>DOS From</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</td>

              </tr>
              <tr>
                <td>20-10-2017</td>
                <td>Mr. James</td>
                <td>test provider</td>
                <td>new Jercy</td>
                <td>First Vsisit</td>
                <td>AMT</td>
                <td>DOS From</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</td>

              </tr>
              <tr>
                <td>20-10-2017</td>
                <td>Mr. James</td>
                <td>test provider</td>
                <td>new Jercy</td>
                <td>First Vsisit</td>
                <td>AMT</td>
                <td>DOS From</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
