<button type="button" class="btn btn-primary" (click)="parentModal.show()">Notes</button>
<div class="modal fade" bsModal #parentModal="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="dialog-nested-name1" (onShown)="onParentModalShown($event)" (onHidden)="onParentModalHidden($event)">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="parentModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Notes</h4>
        <small class="font-bold">Plan ID :
          {{ProviderCPTPlanId==null || ProviderCPTPlanId=='' || ProviderCPTPlanId==undefined?'N/A':ProviderCPTPlanId}}</small>
        <button type="button" class="btn btn-primary btn-xs pull-right" (click)="childModal.show()"><i
            class="fa fa-pencil"></i>&nbsp;Write</button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered dtProviderPlanNotes" width="100%">
            <thead>
              <tr>
                <th>Note</th>
                <th class="center">Created By</th>
                <th class="center">Created Date</th>
                <th class="center">Modified By</th>
                <th class="center">Modified Date</th>
                <th class="center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let note of listProviderPlanNotes">
                <td>{{note.NOTE_CONTENT.length>15?note.NOTE_CONTENT.substring(0,14):note.NOTE_CONTENT}}
                  <a [popover]="NoteContent">
                    read more..
                  </a>
                  <popover-content #NoteContent title="Note" placement="right" [animation]="true"
                    [closeOnClickOutside]="true">
                    <p>
                      {{note.NOTE_CONTENT}}
                    </p>
                  </popover-content>
                </td>
                <td align="center">{{note.CREATED_BY_FULL_NAME | titlecase}}</td>
                <td align="center">{{note.CREATED_DATE | date:'MM/dd/yyyy'}}</td>
                <td align="center">{{note.MODIFIED_BY_FULL_NAME | titlecase}}</td>
                <td align="center">{{note.MODIFIED_DATE | date:'MM/dd/yyyy'}}</td>
                <td align="center" width="100px">
                  <div class="btn-group">
                    <button class="btn btn-white btn-xs gridbtn"
                      (click)="childModal.show();onEditNote(note)">Edit</button>
                    <button class="btn btn-danger btn-xs gridbtn" (click)="onDeleteNote(note)">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white btn-sm" (click)="parentModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #childModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2"
  (onShown)="onChildModalShown( $event)" (onHidden)="onChildModalHidden($event)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{(note.Note_Id==null || note.Note_Id==0)?'Add':'Edit'}} Note</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="childModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="noteForm">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Note<span class="text-danger">*</span></label>
                <textarea class="form-control text-area" minlength="10" maxlength="150" rows="5"
                  formControlName="noteContent" [(ngModel)]="note.NOTE_CONTENT"
                  placeholder="Note length should be greater or equal to 10 characters.">
                </textarea>
                <span>(Maximum characters: 150) </span>
                <span style="font-weight:600">{{GetRemainingCharacters()}} character(s)
                  left.</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white btn-sm" (click)="childModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="childModal.hide();SaveNote()"
          [disabled]="!noteForm.valid">Save</button>
      </div>
    </div>
  </div>
</div>