<div class="ibox float-e-margins" style="width: -webkit-fill-available;">
  <div class="ibox-title">
    <h3> Insurance Payer Details </h3>
  </div>
  <div class="ibox-content left-full margin-bottom " style="width: -webkit-fill-available;">
    <ul class="list-group">
      <li class="list-group-item">
        <b>Insurance Name: </b> <span> {{insPayerModel.Insname_Description | titlecase}}</span>
      </li>
      <li class="list-group-item">
        <b>Insurance Payer Name: </b> <span> {{insPayerModel.Inspayer_Description | titlecase}}</span>
      </li>
      <li class="list-group-item">
        <b>Insurance Payer Plan: </b> <span> {{insPayerModel.Inspayer_Plan}}</span>
      </li>
      <li class="list-group-item">
        <b>Insurance Payer State: </b> <span> {{insPayerModel.Inspayer_State}}</span>
      </li>
      <li class="list-group-item">
        <b>Insurance Payer 835 Id: </b> <span> {{insPayerModel.Inspayer_835_Id}}</span>
      </li>
      <li class="list-group-item">
        <b>Insurance Payer 837 Id: </b> <span> {{insPayerModel.Inspayer_837_Id}}</span>
      </li>
    </ul>
  </div>
</div>