<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><i class="fa fa-user-secret"></i>&nbsp;Guarantors</h5>
        <div class="ibox-tools">
          <a class="link" [routerLink]="['add']">
            <i class="fa fa-plus"></i>&nbsp;Add New Guarantor
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <app-list-guarantors-shared></app-list-guarantors-shared>
      </div>
    </div>
  </div>
</div>