<div class="row">
  <div class="form-group col-sm-3 col-md-3 col-lg-3">
    <label class="control-label">Last Name<sup class="text-danger">*</sup></label>
    <input type="text" placeholder="Enter Last Name" id="lastName" class="form-control" maxlength="20"
      [(ngModel)]="GurantorModel.Response.Guarant_Lname" autocomplete="off"
      onkeypress="return (event.charCode >= 65 && event.keyCode <= 90) || (event.charCode >= 97 && event.keyCode <= 122) || (event.keyCode == 8) || (event.keyCode == 9)">
  </div>
  <div class="form-group col-sm-1 col-lg-1 col-md-1">
    <label class="control-label">MI</label>
    <input type="text" placeholder="MI" id="Gender" class="form-control" maxlength="1"
      [(ngModel)]="GurantorModel.Response.Guarant_Mi"
      onkeypress="return (event.charCode >= 65 && event.keyCode <= 90) || (event.charCode >= 97 && event.keyCode <= 122) || (event.keyCode == 8) || (event.keyCode == 9)">
  </div>
  <div class="form-group col-sm-3 col-md-3 col-lg-3">
    <label class="control-label">First Name<sup class="text-danger">*</sup></label>
    <input type="text" placeholder="Enter First Name" id="FName" class="form-control" maxlength="20"
      [(ngModel)]="GurantorModel.Response.Guarant_Fname"
      onkeypress="return (event.charCode >= 65 && event.keyCode <= 90) || (event.charCode >= 97 && event.keyCode <= 122) || (event.keyCode == 8) || (event.keyCode == 9)">
  </div>
  <div class="form-group col-sm-2 col-md-2 col-lg-2">
    <label class="control-label">Gender<sup class="text-danger">*</sup></label>
    <select class="form-control" [(ngModel)]="GurantorModel.Response.Guarant_Gender">
      <option>Male</option>
      <option>Female</option>
    </select>
  </div>
  <div class="form-group col-sm-3 col-md-3 col-lg-3">
    <label class="control-label">DOB</label>
    <my-date-picker [options]="myDatePickerOptions" (keyup)="dateMaskGS($event)" [placeholder]="'MM/DD/YYYY'"
      [selDate]="GurantorModel.Response.Guarant_Dob" required (dateChanged)="onDateChangedDOBAddUpdate($event)">
    </my-date-picker>
  </div>
  <div class="form-group col-sm-1 col-lg-3 col-md-1">
    <label class="control-label">ZIP</label>
    <input type="text" (blur)="onBlurMethod('req')" placeholder="_____-____" id="ZIP" class="form-control"
      maxlength="10" mask="00000-0000"
      onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.keyCode == 8) || (event.keyCode == 9)"
      [(ngModel)]="GurantorModel.Response.Guarant_Zip">
  </div>
  <div class="form-group col-sm-3 col-md-3 col-lg-3">
    <label class="control-label">City</label>
    <input type="text" disabled placeholder="Enter City" id="Guarant_City" class="form-control" maxlength="20"
      [(ngModel)]="GurantorModel.Response.Guarant_City"
      onkeypress="return (event.charCode >= 65 && event.keyCode <= 90) || (event.charCode >= 97 && event.keyCode <= 122) || (event.keyCode == 8) || (event.keyCode == 9)">
  </div>
  <div class="form-group col-sm-1 col-md-1 col-lg-3">
    <label class="control-label">State</label>
    <input type="text" placeholder="Enter State" class="form-control" [(ngModel)]="GurantorModel.Response.Guarant_State"
      disabled />
  </div>
  <div class="form-group col-sm-3 col-md-3 col-lg-3">
    <label class="control-label">Address<sup class="text-danger">*</sup></label>
    <input type="text" placeholder="Enter Address" id="Address" class="form-control" maxlength="300"
      [(ngModel)]="GurantorModel.Response.Guarant_Address">
  </div>
  <div class="form-group col-sm-3 col-lg-3 col-md-3">
    <label class="control-label">SSN</label>
    <input type="text" placeholder="Enter SSN" id="SSN" class="form-control"
      [(ngModel)]="GurantorModel.Response.Guarant_Ssn" maxlength="11" mask="000-00-0000"
      onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.keyCode == 8) || (event.keyCode == 9)">
  </div>
  <div class="form-group col-sm-3 col-lg-3 col-md-3">
    <label class="control-label">Home Phone</label>
    <input type="text" placeholder="(___) ___-____" mask="(000) 000-0000" id="homeph" class="form-control"
      maxlength="15" [(ngModel)]="GurantorModel.Response.Guarant_Home_Phone"
      onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.keyCode == 8) || (event.keyCode == 9)">
  </div>
  <div class="form-group col-sm-3 col-lg-3 col-md-3">
    <label class="control-label">Work Phone</label>
    <input type="text" placeholder="(___) ___-____" mask="(000) 000-0000" id="workph" class="form-control"
      maxlength="15" [(ngModel)]="GurantorModel.Response.GUARANT_Work_Phone"
      onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.keyCode == 8) || (event.keyCode == 9)">
  </div>
  <div class="form-group col-sm-3 col-lg-3 col-md-3">
    <label class="control-label">Type</label>
    <select class="form-control" [(ngModel)]="GurantorModel.Response.Guarant_Type">
      <option value="G">Guarantor</option>
      <option value="S">Subscriber</option>
      <option value="B">Both</option>
    </select>
  </div>
  <div class="col-lg-12">
    <button class="btn btn-primary btn-sm pull-right" type="submit" (click)="canSave()">Save</button>
    <button class="btn btn-default btn-sm pull-right" type="reset" (click)="onCancel()">Cancel</button>
  </div>
</div>