<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <!-- Search Filters Section -->

      <!--Top Labels-->
      <div class="row">
        <div class="col">
          <label>Insurance Name: {{paymentDetail.Ins_name}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-12">
          <label>Batch No: {{paymentDetail.BatchNo}}</label>
          <!-- <label>Payment ID</label> -->
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12">
          <!-- <label>ERA File ID: {{paymentDetail.paymentId}}</label> -->
          <label>ERA File ID</label>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12">
          <!-- <label>Check Amount</label> -->
          <label>Check Amount: {{paymentDetail.Amount + " $"}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-12">
          <!-- <label>Payment Date: {{paymentDetail.paymentId}}</label> -->
          <label>Payment Date</label>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12">
          <label>EOB Date: {{paymentDetail.EOBDate | date}}</label>
          <!-- <label>EOB Date</label> -->
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12">
          <label>Posted Amount: {{postAmount + " $"}}</label>
          <!-- <label>Posted Amount: {{paymentDetail.paymentId}}</label> -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-12">
          <!-- <label>Check Date: {{paymentDetail.paymentId}}</label> -->
          <label>Check Date</label>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12">
          <!-- <label>Check Date: {{paymentDetail.paymentId}}</label> -->
          <label>Check Date</label>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12">
          <label>Balance: {{Balance + " $"}}</label>
          <!-- <label>Balance: {{paymentDetail.paymentId}}</label> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="ibox-content"> -->
<hr style="margin: 0 0;">
<div class="row">
  <form [formGroup]="searchForm">
    <div class="form-group">
      <div class="col-lg-2">
        <button type="button"   [hidden]="Balance <= 0"  (click)="onOpenClaimModal(claimModalTemplate)">Add Claim</button>
      </div>
      <label for="staticEmail" [hidden]="Balance <= 0" class="col-lg-2 col-form-label">Claim No</label>
      <div class="col-lg-4">
        <input type="text" *ngIf=" Balance > 0" class="form-control" formControlName="CalimId">
      </div>
      <div class="col-lg-2">
        <button type="button" [hidden]="Balance <= 0" (click)="searchByClaimId()">Go</button>
      </div>
    </div>
  </form>
</div>
<!-- </div> -->

<hr style="margin-top: 12px;">
<table class="table table-striped table-hover table-bordered table-responsive datatable">
  <tr>
    <th>Claim No</th>
    <th>Status</th>
    <th>DOS</th>
    <th>Patient Name</th>
    <th>Billed</th>
    <th>Allowed</th>
    <th>Detuct</th>
    <th>Copay</th>
    <th>Pay</th>
    <th>Adj</th>
    <th class="all text-center" width="100">Actions</th>
  </tr>
  <tbody>
    <tr *ngFor="let claim of claimsData ; let indexOfelement=index;">
      <td>{{claim.Claim_No}}</td>
      <td></td>
      <td>{{claim.DOS | date:'MM/dd/yyyy'}}</td>
      <td>{{claim.First_Name}}  {{claim.Last_Name}}</td>
      <td>{{claim.claim_total}}</td>
      <td>{{claim.Adjustment}}</td>
      <td>{{claim.Deductions}}</td>
      <td>{{claim.CO_Payment}}</td>
      <td>{{claim.amt_paid}}</td>
      <td>{{claim.Adjustment}}</td>
      <td >  <button class="btn-white btn btn-xs gridbtn" [disabled]="claim.isPosted"
      (click)="editClaim(claim.Claim_No,claim.Patient_Account,claim.Last_Name,claim.First_Name,paymentTemplate , indexOfelement)">Edit</button>
         <button   [disabled]="claim.isPosted" class="btn-white btn btn-xs gridbtn" (click)="removePayment(indexOfelement,claim.Claim_No)"
        >Remove</button>
     </td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="form-group col-lg-12">
    <button class="btn btn-primary btn-sm ml-2 pull-right"  type="submit" (click)="savePostPayments()"
      >Post Payments</button>
  </div>
</div>

<ng-template #claimModalTemplate>
  <div class="modal-header" >
    <h4 class="modal-title pull-left">Payment Posting</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="claimModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-payment-posting [hideModal]="claimModalRef" (sendDatato)="receivedData($event)"></app-payment-posting>
  </div>
</ng-template>

<ng-template #paymentTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Claim Payment</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="pull-left">
      <h3>
          <label class="control-label">Patient: <b>{{patLName}},
               {{patFName}}  </b></label>&nbsp;|&nbsp;<label
              class="control-label">Account
              #:<a (click)="onClick(patFName,patLName,patAccount)">{{patAccount}}</a> <b></b></label>&nbsp;|&nbsp;<label class="control-label">Claim
              #:<a (click)="onClaimV(patFName,patLName,patAccount,claimsNo)">{{claimsNo}}</a>
              <b></b></label>&nbsp;|&nbsp;<label class="control-label">DOS
                #:{{claimsPaymentDetailModel[this.indexs].ClaimModel.DOS | date:'MM/dd/yyyy'}}
                <b></b></label>&nbsp;|&nbsp;<label class="control-label">Balance
                  #:{{Balance}}
                  <b></b></label>
      </h3>
  </div>
  <app-payments #pay [paymentDetails]="claimsPaymentDetailModel[this.indexs].claimPayments" [chargeDetails]="this.claimsPaymentDetailModel[this.indexs].claimCharges" [insDetails]="this.claimsPaymentDetailModel[this.indexs].claimInusrance"  [Amount]="statuss"
  
  >
</app-payments>
  </div>
  <div class="row">
    <div class="form-group col-lg-12">
      <button class="btn btn-primary btn-sm ml-2 pull-right"  type="submit" (click)="SaveClaimDetails()"
        >Add</button>
    </div>
  </div>
</ng-template>