<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NPMAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="smtp" value="smtpout.secureserver.net" />
    <add key="portnumber" value="587" />
	  <add key="username" value="qa@nobilitypm.com" />
	  <add key="password" value="Gekkon-jyjdij-9wexre" />


	  <add key="IsSSL" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PatientStatementsPath" value="DocumentDirectory\PatientStatements" />
    <add key="PatientPicturesPath" value="DocumentDirectory\PatientPictures" />
    <add key="PatientAttachments" value="Documents\PatientAttachments" />
    <add key="ClaimBatchSubmissionPath" value="SubmissionFile" />
    <add key="FTPDestination" value="claims" />
    <add key="FTPHost" value="sftp.gatewayedi.com" />
    <add key="FTPUsername" value="4FQF" />
    <add key="FTPPassword" value="piz2qp9c" />
    <add key="ERADownloadSource" value="remits" />
    <add key="ERADownloadDestination" value="Documents/ERA" />
    <add key="schema" value="dbo" />
    <add key="containerSchema" value="dbo" />
    <add key="ThrowExceptionOnSyntaxErrors" value="true" />
    <add key="IndexedSegments" value="AMT, BHT, CLM, DMG, DSB, DTP, HI, HL, LIN, LQ, LX, MEA, N3, N4, NM1, NTE, PAT, PER, PRV, QTY, REF, SBR, SV1, SV2" />
    <add key="ParseSearchPattern" value="*.*" />
    <add key="SqlSegmentBatchSize" value="1000" />
    <add key="SqlDateType" value="date" />
	  <add key="HCFAAPIBaseAddress" value="http://localhost:11218" />
    <!--Dev-->
	      <add key="APIKey" value="m672G6R9nENYez7bpC0ytlda24W2pjyoiRQL2gDD" />
    <add key="BaseUrl" value="https://api.demo.inboxhealth.com/" />
    <!--Live-->
	   <!--<add key="APIKey" value="eaH5vnJ5aOvX8stqDvvofQk19oNzBX69y9YGIQCC" />
		<add key="BaseUrl" value="https://api.inboxhealth.com/" />-->

	  	  <!--DEV-->
	    <add key="audience" value="http://localhost:9639" />
    <add key="issuer" value="http://localhost:9639" />
    <add key="origin" value="*" />
	  
	  
    <!--InboxHealth-->
    <!--<add key="audience" value="https://demoapi.nobilitypm.com" />
		<add key="issuer" value="https://demoapi.nobilitypm.com" />
		<add key="origin" value="*" />-->
    <!--IGH-->
    <!--<add key="audience" value="https://ighapi.itparadigm.com" />
		<add key="issuer" value="https://ighapi.itparadigm.com" />
		<add key="origin" value="*" />-->
  </appSettings>
  <system.web>
	  <identity impersonate="false" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="20480" executionTimeout="240" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>


	  <!-- DEV -->
	  <!--<add name="NPMDBEntities" connectionString="metadata=res://*/Models.NPM.csdl|res://*/Models.NPM.ssdl|res://*/Models.NPM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=13.64.106.147,1984;initial catalog=NPMDevDB;user id=DevTeam;password=Pakistan-123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="DemoERADBModel" connectionString="data source=13.64.106.147,51704;initial catalog=EDIDB; user id=EDITeam;password=Pakistan-123;TrustServerCertificate=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
	  <!--<add name="NPMEDI277CA" connectionString="data source=13.64.106.147,1984;initial catalog=NPMQA;user id=EDITeam;password=Pakistan-123;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->


	  <!-- QA -->
	  <add name="NPMDBEntities" connectionString="metadata=res://*/Models.NPM.csdl|res://*/Models.NPM.ssdl|res://*/Models.NPM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=13.64.106.147,1984;initial catalog=NPMQA;user id=QAWeb;password=$£@sda12;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoERADBModel" connectionString="data source=13.64.106.147,51704;initial catalog=EDIDB; user id=EDITeam;password=Pakistan-123;TrustServerCertificate=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="NPMEDI277CA" connectionString="data source=13.64.106.147,1984;initial catalog=NPMQA;user id=EDITeam;password=Pakistan-123;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />


  </connectionStrings>
  <applicationSettings>
    <NPMAPI.Properties.Settings>
      <setting name="NPMAPI_com_gatewayedi_services_Eligibility" serializeAs="String">
        <value>https://services.gatewayedi.com/Eligibility/Service.asmx</value>
      </setting>
      <setting name="NPMAPI_com_gatewayedi_services1_Eligibility" serializeAs="String">
        <value>https://services.gatewayedi.com/Eligibility/Service.asmx</value>
      </setting>
    </NPMAPI.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EligibilitySoap">
          <security mode="Transport" />
        </binding>
        <binding name="EligibilitySoap1" />
        <binding name="EligibilitySoap2">
          <security mode="Transport" />
        </binding>
        <binding name="EligibilitySoap3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://services.gatewayedi.com/Eligibility/Service.asmx" binding="basicHttpBinding" bindingConfiguration="EligibilitySoap" contract="ServiceReference1.EligibilitySoap" name="EligibilitySoap" />
      <endpoint address="https://services.gatewayedi.com/Eligibility/Service.asmx" binding="basicHttpBinding" bindingConfiguration="EligibilitySoap2" contract="ServiceReference1.EligibilitySoap" name="EligibilitySoap1" />
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>