<div class="ibox float-e-margins" style="width: -webkit-fill-available;">
  <div class="ibox-title">
    <h3> Name Details </h3>
  </div>
  <div class="ibox-content left-full margin-bottom " style="width: -webkit-fill-available;">
    <ul class="list-group">
      <li class="list-group-item">
        <b> Name: </b> <span> {{objInsNameRsp.InsuranceNameDescription}}</span>
      </li>
      <li class="list-group-item">
        <b> Group Name: </b> <span> {{objInsNameRsp.InsuranceGroupName}}</span>
      </li>
      <li class="list-group-item">
        <b> Created By: </b> <span> {{objInsNameRsp.Created_By_Name | titlecase}}</span>
      </li>
      <li class="list-group-item">
        <b> Created Date: </b> <span> {{objInsNameRsp.Created_Date | date:'MM/dd/yyyy'}}</span>
      </li>
      <li class="list-group-item">
        <b> Modified By: </b> <span> {{objInsNameRsp.Modified_By_Name | titlecase}}</span>
      </li>
      <li class="list-group-item">
        <b> Modified Date: </b> <span> {{objInsNameRsp.Modified_Date | date:'MM/dd/yyyy'}}</span>
      </li>
    </ul>
  </div>
</div>