<div class="modal fade"  bsModal #patientStatement="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="dialog-nested-name1" (onShown)="onPatientStatementShown($event)" >
  <!-- (onHidden)="onPatientStatementHidden($event)" -->
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="patientStatement.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Patient Statement</h4>
        <div class="btn-group pull-right">
        </div>
        <span>Account # {{PatientAccount}}</span>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered dataTableStatement" width="100%">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="center">Claim #</th>
                <th class="center">Bill Date</th>
                <th class="center">DOS</th>
                <th class="center">Pri Status</th>
                <th class="center">Sec Status</th>
                <th class="center">Oth Status</th>
                <th class="center">Pat Status</th>
                <th class="center">Amount Due</th>
                <th class="center">Amount Paid</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pt of claimsList">
                <td width="5%"></td>
                <td width="5%"></td>
                <td align="center">{{pt.claim_no}}</td>
                <td align="center">{{pt.bill_date|date:'MM/dd/yyyy'}}</td>
                <td align="center">{{pt.dos |date:'MM/dd/yyyy'}}</td>
                <td align="center">{{pt.pri_status}}</td>
                <td align="center">{{pt.sec_status}}</td>
                <td align="center">{{pt.oth_status}}</td>
                <td align="center">{{pt.pat_status}}</td>
                <td align="center">${{pt.amt_due | number : '1.2' | noComma}}</td>
                <td align="center">${{pt.amt_paid | number : '1.2' | noComma}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" (click)="patientStatement.hide()">Close</button>
        <button type="button" class="btn btn-success btn-sm" (click)="onPatientStatementHidden($event)"
          *ngIf="!showDownloadBtn">Done</button>
        <button type="button" class="btn btn-success btn-sm" (click)="downloadPatientStatment($event)"
          *ngIf="showDownloadBtn">Download</button>
      </div>
    </div>
  </div>
</div>