<div class="modal inmodal fade" id="passwordResetModal" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="hide()"><span aria-hidden="true">×</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title">Reset Password</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="PasswordResetForm">
          <div class="row">
            <div class="form-group" formGroupName="pGroup">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <label><i class="fa fa-info-circle" [popover]="myPopover"></i> Password<span
                        class="text-danger">*</span></label>
                    <input type="password" class="form-control" [(ngModel)]="objResetPasswordViewModel.Password"
                      formControlName="password" maxlength="100"
                      [ngClass]="{'password-group-error':(PasswordResetForm.get('pGroup').get('password').errors) && (PasswordResetForm.get('pGroup').get('password').touched || PasswordResetForm.get('pGroup').get('password').dirty)}">
                    <popover-content #myPopover title="Password Criteria" placement="left" [animation]="true"
                      [closeOnClickOutside]="true">
                      <p><b>1.</b> Must be eight characters or longer.</p>
                      <p><b>2.</b> At least 1 lowercase alphabetical character.</p>
                      <p><b>3.</b> At least 1 uppercase alphabetical character.</p>
                      <p><b>4.</b> At least 1 numeric character.</p>
                      <p><b>5.</b> At least one special character.</p>
                      <p><b>6.</b> Password and Verify Password should match.</p>
                    </popover-content>
                    <ng2-password-strength-bar [passwordToCheck]="objResetPasswordViewModel.Password">
                    </ng2-password-strength-bar>
                  </div>
                  <div class="col-lg-6">
                    <label>Verify Password<span class="text-danger">*</span></label>
                    <input type="password" class="form-control" [(ngModel)]="objResetPasswordViewModel.ConfirmPassword"
                      formControlName="confirmPassword" maxlength="100"
                      [ngClass]="{'password-group-error':(PasswordResetForm.get('pGroup').get('confirmPassword').errors) && (PasswordResetForm.get('pGroup').get('confirmPassword').touched || PasswordResetForm.get('pGroup').get('confirmPassword').dirty)}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-white" type="reset" (click)="hide()" data-dismiss="modal">Cancel</button>
        <button class="btn btn-sm btn-primary" type="submit" (click)="onSaveClick()" data-dismiss="modal"
          [disabled]="!PasswordResetForm.valid">Save</button>
      </div>
    </div>
  </div>
</div>