<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>{{strAddEditTitle}}</h5>
  </div>
  <div class="ibox-content">
    <form [formGroup]="addeditForm" (ngSubmit)="onSaveClick()">
      <div class="row">
        <div class="col-lg-12 form-group">
          <label>Group Name<span class="text-danger">*</span></label>
          <input type="text" maxlength="50" class="form-control" [(ngModel)]="objInsGroupRsp.Response.Insgroup_Name"
            formControlName="groupName">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button class="btn btn-primary btn-sm pull-right" type="submit" [disabled]="!addeditForm.valid">Save</button>
          <button class="btn btn-default btn-sm pull-right" (click)="onCancelClick()">Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>