<div class="modal inmodal" id="patientNotes" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header" style="padding-top:15px;padding-bottom:15px;">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

        <h4 class="modal-title">Patient Notes</h4>

      </div>
      <div class="modal-body">
        <div class="tabs-container">
          <ul class="nav nav-tabs">
            <li class="active" [class.active]="numbtncheck==0" ><a data-toggle="tab" href="#tabprn-1" (click)="checkStatus(0)"> Add Notes</a></li>
            <li class="" [class.active]="numbtncheck==1"><a data-toggle="tab" href="#tabprn-2" (click)="checkStatus(1)">History</a></li>
          </ul>
          <div class="tab-content">
            <div id="tabprn-1" class="tab-pane active" [class.active]="numbtncheck==0">
              <!-- <div class="panel-body">
                <textarea rows="6" class="form-control form-textarea" style="width:100%"  [(ngModel)]="notesModel.Ptn_Note_Content"></textarea> 
                <button type="button" (click)="AddPatientNotes()"class="btn btn-w-m btn-primary" style="float:right">Save Notes</button>
              </div> -->

              <div class="panel-body">
                  <textarea rows="6" id="txtPatNotes" [(ngModel)]="notesModel.Ptn_Note_Content" style="width:100%"></textarea>
                  <button type="button" class="btn btn-w-m btn-primary" style="float:right" (click)="AddPatientNotes()">Save Notes</button>
              </div>

            </div>
            <div id="tabprn-2" class="tab-pane" [class.active]="numbtncheck==1">
              <div class="panel-body">
                <strong>All Previous Notes</strong>
                <!-- <div class="table-responsive left-full">
                  <table datatable class=" dtpatientNotestable row-border hover"> -->
                   <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered dt-responsive display nowrap dtpatientNotes" width="100%" >
                    <thead>
                      <tr>
                        <th>Notes</th>
                        <th>Created On</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of Response">
                          <td>{{item.Ptn_Note_Content}}</td>
                          <td>{{item.Ptn_Created_Date| date:'MM/dd/yyyy'}}</td>
                          <td class="text-right footable-visible footable-last-column">
                              <div class="btn-group">
                                    <button class="btn-white btn btn-xs gridbtn" id="editAddEditPractice" data-original-title="" data-toggle="tab" href="#tabprn-1" (click)="getPatientNote(item.Patient_Notes_Id)" >Edit</button>
                              </div>
                          </td>
                      </tr>
                  </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal inmodal" id="patientClaimNotes" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header" style="padding-top:15px;padding-bottom:15px;">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

        <h4 class="modal-title">Claim Notes</h4>
      </div>
      <div class="modal-body">
        <div class="tabs-container">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tabprn-1"> Add Notes</a></li>
            <li class=""><a data-toggle="tab" href="#tabprn-2">History</a></li>
          </ul>
          <div class="tab-content">
            <div id="tabprn-1" class="tab-pane active">
              <div class="panel-body">
                <textarea rows="5" id="txtPracticesNotes" style="width: 100%; max-width: 100%; height: 300px;"></textarea>
                <button type="button" class="btn btn-w-m btn-primary" style="float:right">Save Notes</button>
              </div>
            </div>
            <div id="tabprn-2" class="tab-pane">
              <div class="panel-body">
                <strong>All Previous Notes</strong>
                <div class="table-responsive left-full">
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Notes</th>
                        <th>Created On</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                     <tr class="gradeX">
                        <td>Test Notes</td>
                        <td>5 Jul 2018</td>
                        <td class="text-right footable-visible footable-last-column">
                          <div class="btn-group">
                            <button class="btn-white btn btn-xs gridbtn">View</button>
                            <button class="btn-white btn btn-xs gridbtn">Edit</button>
                            <button class="btn-white btn btn-xs gridbtn">Delete</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="modal inmodal" id="ClaimPayments" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header" style="padding-top:15px;padding-bottom:15px;">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Payments</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div class="form-group">
            <div class="col-md-6">
              <label>Payment Mode</label> <select id="ddlPaymentMode" class="form-control">
                <option value="1">Primary</option>
                <option value="2">Seconday</option>
                <option value="3">Other</option>
                <option value="4">Patient</option>
                <option value="5">Copay</option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Insurance Name</label>
              <input type="text" placeholder="Enter Insurance Name" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <label>Payment Type</label> <select id="ddlPaymentMode" class="form-control">
                <option value="1">Check</option>
                <option value="2">Cash</option>
                <option value="3">Credit & EFT</option>

              </select>
            </div>
            <div class="col-md-6">
              <label>Paid Proc Code</label>
              <input type="text" placeholder="Enter Paid Proc Code" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label>Modi Code1</label>
              <input type="text" placeholder="Enter Modi Code1" class="form-control" />
            </div>
            <div class="col-md-6">
              <label>Modi Code2</label>
              <input type="text" placeholder="Enter Modi Code2" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <label>Charge Proc Code</label>
              <input type="text" placeholder="Enter Charge Proc Code" class="form-control" />
            </div>
            <div class="col-md-6">
              <label>Amount Charge</label>
              <input type="text" placeholder="Enter Amount Charge" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <label>Amount Approved</label>
              <input type="text" placeholder="Enter Amount Approved" class="form-control" />
            </div>
            <div class="col-md-6">
              <label>Amount Paid</label>
              <input type="text" placeholder="Enter Amount Paid" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <label>Amount Adjuct</label>
              <input type="text" placeholder="Enter Amount Adjust" class="form-control" />
            </div>
            <div class="col-md-6">
              <label>Check #</label>
              <input type="text" placeholder="Enter Check Number" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <label>Check Date</label>
              <input type="text" placeholder="Enter Check Date" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label>Check Amount</label>
              <input type="text" placeholder="Enter Check Amount" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label>Units</label>
              <input type="text" placeholder="Enter Units" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6">
              <label>Patient Responsibility</label>
              <input type="text" placeholder="Enter Patient Responsibility" class="form-control" />
            </div>
          </div>
          <button type="button" class="btn btn-w-m btn-primary" style="float:right">Save</button>
        </div>
      </div>

    </div>


  </div>

</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-white" data-dismiss="modal" (click)="ClosePage()">Close</button>
</div> -->