<div class="row">
    <div class="col-lg-12">
        <h4 class="pull-left">
            <i aria-hidden="true" class="fa fa-money"></i>&nbsp;<u>Insurances</u>&nbsp;
            <a title="Show All" (click)="insExpand()" *ngIf="!isInsExpand"><i class="fa fa-caret-square-o-right"
                    aria-hidden="true"></i> </a>
            <a title="Hide All" (click)="insExpand()" *ngIf="isInsExpand"><i class="fa fa-caret-square-o-left"
                    aria-hidden="true"></i> </a>
        </h4>
        <div class="pull-right">
            <span class="checkbox checkbox-primary checkbox-inline">
                <input class="styled" id="expand-payment-table" type="checkbox">
            </span>
        </div>
    </div>
    <div class="col-lg-12 pt-10">
        <div class="table-horizontal-scroll" id="insTable">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Sr.</th>
                        <!-- <th *ngIf="!newInsurances"> Eligiblity </th> -->
                        <th> Eligiblity </th>
                        <th width="40">Actions</th>
                        <th>Payer Description</th>
                        <th>Ins. Mode</th>
                        <th>Policy #</th>
                        <th>Copay $</th>
                        <th>Deductible</th>
                        <th>Co-Insurance %</th>
                        <th>Group #</th>
                        <th>Group Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Relationship</th>
                        <th>Subscriber Name</th>
                        <th *ngIf="isInsExpand">C4/Invoice</th>
                        <th *ngIf="isInsExpand">MCR Sec Payer Type</th>
                        <th *ngIf="isInsExpand">Claim Filing Indicator</th>
                        <th *ngIf="isInsExpand">Eligibility</th>
                        <th *ngIf="isInsExpand">Access Carolina</th>
                        <th *ngIf="isInsExpand">Is Capitated</th>
                        <th *ngIf="isInsExpand">Allowed Visits</th>
                        <th *ngIf="isInsExpand">Remaining Visits</th>
                        <th *ngIf="isInsExpand">Visit Start Date</th>
                        <th *ngIf="isInsExpand">Visit End Date</th>
                        <th *ngIf="isInsExpand">Claim Status</th>
                        <th *ngIf="isInsExpand">In Active</th>
                        <th *ngIf="isInsExpand">Print Center</th>
                        <th *ngIf="isInsExpand">Corrected Claim</th>
                        <th *ngIf="isInsExpand">ICN</th>
                        <th *ngIf="isInsExpand">Late Filing</th>
                        <th *ngIf="isInsExpand">Late Filing Reason</th>
                        <th *ngIf="isInsExpand">Notes</th>
                        <th *ngIf="isInsExpand">Send Notes</th>
                        <th *ngIf="isInsExpand">Send Appeal</th>
                        <th *ngIf="isInsExpand">Medical Notes</th>
                        <th *ngIf="isInsExpand">Reconsideration</th>
                        <th *ngIf="isInsExpand">Returned HCFA</th>
                        <th *ngIf="isInsExpand" width="80">Type of Admission</th>
                        <th *ngIf="isInsExpand" width="80">Source of Admission</th>
                        <th *ngIf="isInsExpand" width="80">Patient Status</th>
                        <th *ngIf="isInsExpand">Batch Claim Status</th>
                    </tr>
                </thead>
                <tbody class="row-selected">
                    <tr *ngFor="let p of claimInsuranceModel;  let ndx=index" class="tr-{{p.claimInsurance.color}}"
                        [hidden]="p.claimInsurance.Deleted" (keydown)="NewRowInsurances($event, ndx)" >
                        <td align="center"><span>{{ndx+1}}</span></td>
                        <!-- <td *ngIf="!newInsurances"> -->
                        <td>
                            <button (click)="checkEligibility(p)" class="btn btn-default btn-xs"
                                [ngStyle]="{'background-color': eligiblityBtnColor}"
                                [attr.disabled]="isViewMode?true:null"> El {{nameData}} </button>
                        </td>
                        <td align="center">
                            <button class="btn btn-xs btn-default" (click)="DeleteInsurance(ndx); addNewItem(p);" title="Delete"  
                                [attr.disabled]="isViewMode?true:null">
                                <i class="fa fa-remove text-danger" [id]="'delbtn'+ndx" title="Delete"
                                    [attr.disabled]="isViewMode?true:null"></i>
                            </button>
                            <span *ngIf="p.PayerDescription!=0 && p.PayerDescription!=undefined" title="View">
                                <a data-toggle="modal" data-target="#payer-information-modal"
                                    (click)="getInsuranceInformation(ndx)" [attr.disabled]="isViewMode?true:null"><i
                                        aria-hidden="true" class="fa fa-eye"></i></a>
                            </span>
                        </td>
                        <td>
                            <div class="has-feedback custom-search">
                                <input type="search" readonly (keydown)="InsuranceKeyPressEvent($event,ndx); addNewItem(p);" 
                                   
                                    [(ngModel)]="p.InsurancePayerName" [id]="'InsuranceNameinput'+ndx"
                                    placeholder="Search" (click)="ShowInsuranceNamePopup(ndx)"
                                    class="form-control min-w-150px" name="txtInsurance"
                                    [attr.disabled]="isViewMode?true:null">
                                <span (click)="ShowInsuranceNamePopup(ndx)" class="form-control-feedback text-grey"><i
                                        class="text-blue glyphicon glyphicon-search"></i></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select [attr.disabled]="isViewMode?true:null" [id]="'insMode'+ndx"
                                    class="form-control min-w-70px" [(ngModel)]="p.claimInsurance.Pri_Sec_Oth_Type"
                                    name="insuranceMode" #InsMode (ngModelChange)="InsuranceChange(ndx,InsMode.Value)"
                                    [attr.disabled]="isViewMode?true:null">
                                    <option value=""></option>
                                    <option value="P">P</option>
                                    <option value="S">S</option>
                                    <option value="O">O</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control min-w-150px" [id]="'policynum'+ndx" placeholder=""
                                    [(ngModel)]="p.claimInsurance.Policy_Number" type="text" maxlength="25"
                                    [attr.disabled]="isViewMode?true:null">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control min-w-100" style="width:80px!important;" placeholder=""
                                    [(ngModel)]="p.claimInsurance.Co_Payment" type="text" maxlength="15"
                                    [attr.disabled]="isViewMode?true:null">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control min-w-100" style="width:80px!important;" placeholder=""
                                    [(ngModel)]="p.claimInsurance.Deductions" type="text" maxlength="15"
                                    [attr.disabled]="isViewMode?true:null">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control min-w-100" placeholder="" style="width:120px!important;"
                                    [(ngModel)]="p.claimInsurance.Co_Payment_Per" type="text" maxlength="4"
                                    [id]="'Coins'+ndx" (keyup)="CheckPercentage(ndx,p.claimInsurance.Co_Payment_Per)"
                                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.keyCode == 8) || (event.keyCode == 9) || (event.keyCode == 37) || (event.keyCode == 39) || (event.charCode == 46)"
                                    [attr.disabled]="isViewMode?true:null">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control min-w-100" placeholder=""
                                    [(ngModel)]="p.claimInsurance.Group_Number" type="text" maxlength="25"
                                    [attr.disabled]="isViewMode?true:null">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control min-w-150px" placeholder=""
                                    [(ngModel)]="p.claimInsurance.Group_Name" type="text" maxlength="25"
                                    [attr.disabled]="isViewMode?true:null">
                            </div>
                        </td>
                        <td class="min-w-150px">
                            <div class="form-group">
                                <div class="input-group date datepicker">
                                    <input style="width:120px!important;" [id]="'eDate'+ndx" class="form-control"
                                        type="text" [(ngModel)]="p.claimInsurance.Effective_Date"
                                        (blur)="validateDate(p.claimInsurance.Effective_Date, 'EffectiveDate', ndx)"
                                        (keyup)="validateDateFormat(p.claimInsurance.Effective_Date,'EffectiveDate',ndx,$event)"
                                        placeholder="MM/DD/YYYY" maxlength="10"
                                        [attr.disabled]="isViewMode?true:null" />
                                </div>
                            </div>
                        </td>
                        <td class="min-w-150px">
                            <div class="form-group">
                                <div class="input-group date datepicker">
                                    <input style="width:120px!important;" [id]="'tDate'+ndx" type="text"
                                        class="form-control" [(ngModel)]="p.claimInsurance.Termination_Date"
                                        (blur)="validateDate(p.claimInsurance.Termination_Date, 'TerminationDate', ndx)"
                                        (keyup)="validateDateFormat(p.claimInsurance.Termination_Date,'TerminationDate',ndx,$event)"
                                        placeholder="MM/DD/YYYY" maxlength="10"
                                        [attr.disabled]="isViewMode?true:null" />
                                </div>
                            </div>
                        </td>
                        <!-- <td style="display:none">
                            <input type="text" [(ngModel)]="p.claimInsurance.SubscriberName" />
                        </td> -->
                        <td>
                            <div class="form-group">
                                <select [attr.disabled]="isViewMode?true:null" class="form-control min-w-100px"
                                    [(ngModel)]="p.claimInsurance.Relationship"
                                    (change)="RelationChange(p.claimInsurance.Relationship,ndx)"
                                    [attr.disabled]="isViewMode?true:null">
                                    <option></option>
                                    <option *ngFor="let r of relationsList" [value]="r.Id">{{r.Name}}
                                    </option>
                                </select>
                            </div>
                        </td>

                        <td class="min-w-150px">
                            <div class="has-feedback custom-search" (click)="showSubscriber(ndx)">
                                <input type="search"
                                    class="form-control" [(ngModel)]="p.SubscriberName" title="{{p.SubscriberName}}"
                                    (keydown)="SubscriberKeyPressEvent($event,ndx)" name="txtSubscriberName"
                                    [attr.disabled]="isViewMode?true:null">
                                <span [id]="'disabledspan'+ndx" class="form-control-feedback text-grey"><i
                                        class="text-blue glyphicon glyphicon-search"></i></span>
                            </div>
                        </td>

                        
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <input class="form-control" placeholder="" [(ngModel)]="p.claimInsurance.Plan_Name"
                                    type="text" [id]="'cInvoice'+ndx" maxlength="20"
                                    [attr.disabled]="isViewMode?true:null">
                            </div>
                        </td>
                        <td *ngIf="isInsExpand" style="width:80px!important">
                            <div class="form-group" style="width:80px!important">
                                <select [attr.disabled]="isViewMode?true:null" class="form-control"
                                    style="width:80px!important" name="mcrprayer" [title]="tempVariable"
                                     (mouseover)="Tooltip('mcrprayer',ndx)"
                                    [(ngModel)]="p.claimInsurance.MCR_SEC_Payer_Code"
                                    [attr.disabled]="isViewMode?true:null">
                                    <option value=""></option>
                                    <option value="12">Medicare Secondary Working Aged Benefisciary or Spouse
                                        with
                                        Employer Group Health Plan</option>
                                    <option value="13">Medicare Secondary End-Stage Renal Disease Beneficiary in
                                        the
                                        12 month coordination period with an employer’s group health plan"
                                    </option>
                                    <option value="14">Medicare Secondary, No-fault Insurance including Auto is
                                        Primary</option>
                                    <option value="15">Medicare Secondary Worker’s Compensation</option>
                                    <option value="16">Medicare Secondary Public Health Service (PHS)or Other
                                        Federal Agency</option>
                                    <option value="41">Medicare Secondary Black Lung</option>
                                    <option value="42">Medicare Secondary Veteran’s Administration</option>
                                    <option value="43">Medicare Secondary Disabled Beneficiary Under Age 65 with
                                        Large Group Health Plan (LGHP)</option>
                                    <option value="47">Medicare Secondary, Other Liability Insurance is Primary"
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td *ngIf="isInsExpand" style="width:80px!important">
                            <div class="form-group" style="width:80px!important">
                                <select [attr.disabled]="isViewMode?true:null" class="form-control"
                                    style="width:80px!important" name="filingindicator" [title]="tempVariable"
                                     (mouseover)="Tooltip('filingindicator',ndx)"
                                    [(ngModel)]="p.claimInsurance.Filing_Indicator"
                                    [attr.disabled]="isViewMode?true:null">
                                    <option value=""></option>
                                    <option value="11- Other Non-Federal Programs">Other Non-Federal Programs
                                    </option>
                                    <option value="12- Preferred Provider Organization (PPO)">Preferred Provider
                                        Organization (PPO)</option>
                                    <option value="13- Point of Service (POS)">Point of Service (POS)</option>
                                    <option value="14- Exclusive Provider Organization (EPO)">Exclusive Provider
                                        Organization (EPO)</option>
                                    <option value="15- Indemnity Insurance">Indemnity Insurance</option>
                                    <option value="16- Health Maintenance Organization (HMO) Medicare Risk">
                                        Health
                                        Maintenance Organization (HMO) Medicare Risk</option>
                                    <option value="17- Dental Maintenance Organization">Dental Maintenance
                                        Organization</option>
                                    <option value="AM- Automobile Medical">Automobile Medical</option>
                                    <option value="BL- Blue Cross/Blue Shield">Blue Cross/Blue Shield</option>
                                    <option value="CH- Champus">Champus</option>
                                    <option value="CI- Commercial Insurance Co.">Commercial Insurance Co.
                                    </option>
                                    <option value="DS- Disability">Disability</option>
                                    <option value="FI- Federal Employees Program">Federal Employees Program
                                    </option>
                                    <option value="HM- Health Maintenance Organization">Health Maintenance
                                        Organization</option>
                                    <option value="LM- Liability Medical">Liability Medical</option>
                                    <option value="MA- Medicare Part A">Medicare Part A</option>
                                    <option value="MB- Medicare Part B">Medicare Part B</option>
                                    <option value="MC- Medicaid">Medicaid</option>
                                    <option value="OF- Other Federal Program">Other Federal Program</option>
                                    <option value="TV- Title V">Title V</option>
                                    <option value="VA- Veterans Affairs Plan">Veterans Affairs Plan</option>
                                    <option value="WC- Workers Compensation Health Claim">Workers Compensation
                                        Health Claim</option>
                                    <option value="ZZ- Mutually Defined">Mutually Defined</option>
                                </select>
                            </div>
                        </td>
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <input class="form-control" placeholder="" [(ngModel)]="p.claimInsurance.Eligibility"
                                    type="text" [attr.disabled]="isViewMode?true:null">
                            </div>
                        </td>
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <input class="form-control" [(ngModel)]="p.claimInsurance.Access_Carolina_Number"
                                    placeholder="" type="text" maxlength="35" [attr.disabled]="isViewMode?true:null">
                            </div>
                        </td>
                        <td align="center" *ngIf="isInsExpand">
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input type="checkbox" [(ngModel)]="p.claimInsurance.Is_Capitated_Claim"
                                    [id]="'chk-insur-15'+ndx" value="option1" [attr.disabled]="isViewMode?true:null">
                                <label for="chk-insur-15">&nbsp;</label>
                            </div>
                        </td>
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <input class="form-control" placeholder="" [(ngModel)]="p.claimInsurance.Allowed_Visits"
                                    type="text" [attr.disabled]="isViewMode?true:null">
                            </div>
                        </td>
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <input [attr.disabled]="isViewMode?true:null" class="form-control" placeholder=""
                                    [(ngModel)]="p.claimInsurance.Remaining_Visits" type="text">
                            </div>
                        </td>
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <div class="input-group date datepicker">
                                    <input [attr.disabled]="isViewMode?true:null" class="form-control"
                                        [id]="'vDate'+ndx" type="text" [(ngModel)]="p.claimInsurance.Visits_Start_Date"
                                        (blur)="validateDate(p.claimInsurance.Visits_Start_Date)"
                                        (keyup)="validateDateFormat(p.claimInsurance.Visits_Start_Date,'StartDate',ndx, $event)"
                                        placeholder="MM/DD/YYYY" maxlength="10" />
                                </div>
                            </div>
                        </td>
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <div class="input-group date datepicker">
                                    <input [attr.disabled]="isViewMode?true:null" class="form-control"
                                        [id]="'enDate'+ndx" type="text" [(ngModel)]="p.claimInsurance.Visits_End_Date"
                                        (blur)="validateDate(p.claimInsurance.Visits_End_Date)"
                                        (keyup)="validateDateFormat(p.claimInsurance.Visits_End_Date,'EndDate',ndx,$event)"
                                        placeholder="MM/DD/YYYY" maxlength="10" />
                                </div>
                            </div>
                        </td>
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <input [attr.disabled]="isViewMode?true:null" class="form-control" placeholder=""
                                    [(ngModel)]="p.claimInsurance.Claim_Status" disabled type="text">
                            </div>
                        </td>
                        <td align="center" *ngIf="isInsExpand">
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input [attr.disabled]="isViewMode?true:null" type="checkbox" [id]="'chk-insur-11'+ndx"
                                    [(ngModel)]="p.claimInsurance.InActive"
                                    [attr.checked]="p.claimInsurance.InActive ? true : null" disabled>
                                <label for="chk-insur-11">&nbsp;</label>
                            </div>
                        </td>
                        <td align="center" *ngIf="isInsExpand">
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input [attr.disabled]="isViewMode?true:null" type="checkbox" [id]="'chk-insur-14'+ndx"
                                    disabled="disabled"
                                    (change)="p.claimInsurance.PrintCenter = !p.claimInsurance.PrintCenter"
                                    [(ngModel)]="p.claimInsurance.PrintCenter">
                                <label for="chk-insur-14">&nbsp;</label>
                            </div>
                        </td>
                        <td align="center" *ngIf="isInsExpand">
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input [attr.disabled]="isViewMode?true:null" type="checkbox" [id]="'chk-insur-13'+ndx"
                                    [(ngModel)]="p.claimInsurance.Corrected_Claim"
                                    (change)="checkCorrectedClaim(p.claimInsurance.Corrected_Claim, ndx)" />
                                <label for="chk-insur-13">&nbsp;</label>
                            </div>
                        </td>
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <input [attr.disabled]="isViewMode?true:null" class="form-control w-100px"
                                    placeholder="" type="text" [(ngModel)]="p.claimInsurance.ICN" />
                            </div>
                        </td>
                        <td align="center" *ngIf="isInsExpand">
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input [attr.disabled]="isViewMode?true:null" type="checkbox" [id]="'chk-insur-12'+ndx"
                                    [(ngModel)]="p.claimInsurance.Late_Filing" />
                                <label for="chk-insur-12">&nbsp;</label>
                            </div>
                        </td>
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <select [attr.disabled]="isViewMode?true:null" name="latefiling" [title]="tempVariable"
                                     (mouseover)="Tooltip('latefiling',ndx)" [disabled]="!p.claimInsurance.Late_Filing"
                                    class="form-control" [(ngModel)]="p.claimInsurance.Late_Filing_Reason">
                                    <option value=""></option>
                                    <option value="1">Proof of Eligibility Unknown or Unavailable</option>
                                    <option value="2">Litigation</option>
                                    <option value="3">Authorization Delays</option>
                                    <option value="4">Delay in Certifying Provider </option>
                                    <option value="5">Delay in Supplying Billing Forms</option>
                                    <option value="6">Delay in Delivery of Custom-made Appliances</option>
                                    <option value="7">Third Party Processing Delay</option>
                                    <option *ngFor="let p1 of LateFilingReasonList " value="{{p1}}">{{p1}}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <input [attr.disabled]="isViewMode?true:null" class="form-control"
                                    [(ngModel)]="p.claimInsurance.Notes" placeholder="" type="text" maxlength="100">
                            </div>
                        </td>
                        <td align="center" *ngIf="isInsExpand">
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input [attr.disabled]="isViewMode?true:null" type="checkbox" [id]="'chk-insur-18'+ndx"
                                    [(ngModel)]="p.claimInsurance.Send_notes">
                                <label for="chk-insur-18">&nbsp;</label>
                            </div>
                        </td>
                        <td align="center" *ngIf="isInsExpand">
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input [attr.disabled]="isViewMode?true:null" type="checkbox" [id]="'chk-insur-19'+ndx"
                                    [(ngModel)]="p.claimInsurance.Send_Appeal">
                                <label for="chk-insur-19">&nbsp;</label>
                            </div>
                        </td>
                        <td align="center" *ngIf="isInsExpand">
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input [attr.disabled]="isViewMode?true:null" type="checkbox" disabled="disabled"
                                    [(ngModel)]="p.claimInsurance.Medical_Notes" />
                                <label for="chk-insur-20">&nbsp;</label>
                            </div>
                        </td>
                        <td align="center" *ngIf="isInsExpand">
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input [attr.disabled]="isViewMode?true:null" disabled="disabled" type="checkbox"
                                    [(ngModel)]="p.claimInsurance.Reconsideration" />
                                <label for="chk-insur-21">&nbsp;</label>
                            </div>
                        </td>
                        <td align="center" *ngIf="isInsExpand">
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input [attr.disabled]="isViewMode?true:null" type="checkbox"
                                    [(ngModel)]="p.claimInsurance.Returned_Hcfa" />
                                <label for="chk-insur-22">&nbsp;</label>
                            </div>
                        </td>
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <select [attr.disabled]="isViewMode?true:null" name="admtype" [title]="tempVariable"
                                    class="form-control"  (mouseover)="Tooltip('admtype',ndx)"
                                    [(ngModel)]="p.claimInsurance.Admission_Type_Code">
                                    <option value=""></option>
                                    <option value="1">Emergency</option>
                                    <option value="2">Urgent</option>
                                    <option value="3">Elective</option>
                                    <option value="4">Newborn</option>
                                    <option value="5">Trauma Center</option>
                                    <option value="6-8">Reserved for National Assignment</option>
                                    <option value="9">Information Not Available</option>
                                </select>
                            </div>
                        </td>
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <select [attr.disabled]="isViewMode?true:null" name="admsource" class="form-control"
                                    [title]="tempVariable"  (mouseover)="Tooltip('admsource',ndx)"
                                    [(ngModel)]="p.claimInsurance.Admission_Source_Code">
                                    <option value=""></option>
                                    <option value="1">Provider Referral </option>
                                    <option value="2">Clinic Referral</option>
                                    <option value="3">Managed Care Plan Referral</option>
                                    <option value="4">Transfer from a Hospital</option>
                                    <option value="5">Transfer from a SNF</option>
                                    <option value="6">Transfer from Another Health Care Facility</option>
                                    <option value="7">Emergency Room</option>
                                    <option value="8">Court/Law Enforcement</option>
                                    <option value="9">Information Not Available </option>
                                    <option value="9A">Transfer from a Critical Access Hospital (CAH) </option>
                                    <option value="9B">Transfer From Another Home Health Agency</option>
                                    <option value="9C">Readmission to Same Home Health Agency</option>
                                    <option value="9D">Transfer from hospital inpatient in the same facility
                                        resulting in a separate claim to the payer</option>
                                    <option value="9[E-Z]">Reserved for National Assignment</option>
                                </select>
                            </div>
                        </td>
                        <td *ngIf="isInsExpand">
                            <div class="form-group">
                                <select [attr.disabled]="isViewMode?true:null" name="patientscode" class="form-control"
                                    [title]="tempVariable"  (mouseover)="Tooltip('patientscode',ndx)"
                                    [(ngModel)]="p.claimInsurance.Patient_Status_Code">
                                    <option value=""></option>
                                    <option value="1">Discharged to home or self care (routine discharge)
                                    </option>
                                    <option value="2">Discharged/transferred to a short-term general hospital
                                        for
                                        inpatient care.</option>
                                    <option value="3">Discharged/transferred to SNF with Medicare certification
                                        in
                                        anticipation of covered skilled care (effective 2/23/05). See Code 61
                                        below.
                                    </option>
                                    <option value="4">Discharged/transferred to an Intermediate Care Facility
                                        (ICF)
                                    </option>
                                    <option value="5">Discharged/transferred to another type of institution not
                                        defined elsewhere in this code list (effective 2/23/05).</option>
                                    <option value="6">Discharged/transferred to home under care of organized
                                        home
                                        health service organization in anticipation of covered skills care
                                        (effective 2/23/05).</option>
                                    <option value="7">Left against medical advice or discontinued care</option>
                                    <option value="8">Reserved for National Assignment</option>
                                    <option value="9">Admitted as an inpatient to this hospital </option>
                                    <option value="10-19">Reserved for National Assignment</option>
                                    <option value="20">Expired (or did not recover - Religious Non Medical
                                        Health
                                        Care Patient)</option>
                                    <option value="21-29">Reserved for National Assignment</option>
                                    <option value="30">Still patient or expected to return for outpatient
                                        services
                                    </option>
                                    <option value="31-39">Reserved for National Assignment</option>
                                    <option value="40">Expired at home (Hospice claims only)</option>
                                    <option value="41">Expired in a medical facility, such as a hospital, SNF,
                                        ICF
                                        or freestanding hospice (Hospice claims only)</option>
                                    <option value="42">Expired - place unknown (Hospice claims only)</option>
                                    <option value="43">Discharged/transferred to a federal health care facility.
                                        (effective 10/1/03)</option>
                                    <option value="44-49">Reserved for national assignment</option>
                                    <option value="50">Discharged/transferred to Hospice - home</option>
                                    <option value="51">Discharged/transferred to Hospice - medical facility
                                    </option>
                                    <option value="52-60">Reserved for national assignment</option>
                                    <option value="61">Discharged/transferred within this institution to a
                                        hospital
                                        based Medicare approved swing bed./option>
                                    <option value="62">Discharged/transferred to an inpatient rehabilitation
                                        facility including distinct part units of a hospital</option>
                                    <option value="63">Discharged/transferred to long term care hospitals
                                    </option>
                                    <option value="64">Discharged/transferred to a nursing facility certified
                                        under
                                        Medicaid but not certified under Medicare</option>
                                    <option value="65">Discharged/transferred to a psychiatric hospital or
                                        psychiatric distinct part unit of a hospital.</option>
                                    <option value="66">Discharged/transferred to a Critical Access Hospital
                                        (CAH).
                                        (effective 1/1/06)</option>
                                    <option value="67-99">Reserved for national assignment</option>
                                </select>
                            </div>
                        </td>
                        <td align="center" *ngIf="isInsExpand">
                            <div class="checkbox checkbox-primary checkbox-inline">
                                <input [attr.disabled]="isViewMode?true:null" type="checkbox"
                                    [(ngModel)]="p.claimInsurance.Claim_Status">
                                <label for="chk-insur-23">&nbsp;</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="44">
                            <button (click)="AddNewInsurance()" title="Add New Insurance"
                                [attr.disabled]="isViewMode?true:null" class="btn-white" style="border: none;">
                                Add New Insurance
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Insurance Information Search -->
<modal-window [title]="'Insurance Search'" [description]="'Find and select insurance.'" #insuranceSearch
    (onHidden)="onCloseSearch(); addNewIns(null);">
    <ng-container body>
        <insurance-search (onSelectInsurance)=onSelectInsurance($event); ></insurance-search>
    </ng-container>
</modal-window>
<!-- Modal Insurance Information Search -->
<!-- Guarantor Window -->
<modal-window [title]="guarantorModalWindowProp?.title" [description]="guarantorModalWindowProp?.description"
    #guarantorModalWindow (onHidden)="onGuarantorHidden($event)">
    <ng-container header-right-link>
        <a class="pull-right" (click)="addGuarantor=!addGuarantor">
            <i class="fa"
                [ngClass]="{'fa-search':addGuarantor, 'fa-plus':!addGuarantor}"></i>&nbsp;{{addGuarantor?'Search':'Add
            New'}}
        </a>
    </ng-container>
    <ng-container body>
        <app-list-guarantors-shared [caller]="guarantorModalWindowProp?.caller"
            (onSelectGuarantor)="onSelectGuarantor($event)" *ngIf="!addGuarantor">
        </app-list-guarantors-shared>
        <app-add-edit-guarantor-shared [caller]="guarantorModalWindowProp?.caller" *ngIf="addGuarantor"
            (onAddGuarantor)="onSelectGuarantor($event)" (onCancelEvent)="addGuarantor=!addGuarantor">
        </app-add-edit-guarantor-shared>
    </ng-container>
</modal-window>
<!-- Guarantor Window-->